* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
$primary-color: #5712c5;
$primary-color-variant: #20bae9;
$secondary-color: rgba(241, 9, 113, 0.849);
$white-color: #ffffff;
$light-color: rgba(#fff, 0.7);
$black-color: #0c031b;
$dark-color: rgba($black-color, 0.7);
$success-color: #54eb72;
$container-lg: 82%;
$container-md: 90%;
